* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ACCORDION */
#accordion {
  margin: 100px auto;
  width: max(50%, 320px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion__box {
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.accordion__box-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: aquamarine;
}

.accordion__chevron {
  width: 24px;
}

.accordion__box-content {
  padding: 32px;
  overflow: hidden;
  overflow-y: auto;
  transition: 250ms ease-in;
  line-height: 1.5;
  height: 160px;
}

.hidden {
  padding: 0;
  height: 0;
}
